
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root{
    /*--primary-color:#58faae;
    --secondary-color:#70b5ff;
    --secondary-color_dark: #3AB1DE;
    --main-color:#37F2FA;
    --text-color_dark:rgba(42, 29, 116, 0.7);
    --text-color_light: rgba(66, 45, 167, 0.7);*/
    --primary-color:rgb(15, 226, 216);
    --secondary-color:rgb(34, 174, 201);
    --secondary-color_dark: #177ed3;
    --main-color:#307ce0;
    --text-color_dark:rgba(42, 29, 116, 0.7);
    --text-color_light: rgba(66, 45, 167, 0.7);
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: block;
}
htm,
body{
    font-family: 'Poppins', sans-serif;  
    font-size: 0.67em;
    overflow: hidden;
}
header{
    position: absolute;
    left: 50px;
    top: 20px;   
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.logo{
    /*text-transform:uppercase;*/
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}
.logo:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--text-color_dark);
    padding: 0 10px;
    border-radius: 30%;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  /* --------------- Products ---------------- */

.products {
    margin-top: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    height: 90%;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .shop-container{
    width: 75%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--secondary-color);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
    -webkit-transform: translateX(101%);
    -moz-transform: translateX(101%);
    -ms-transform: translateX(101%);
    -o-transform: translateX(101%);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
  .bag-btn:hover {
    color: white;
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  .product-img {
    display: block;
    width: 100%;
    height: 8rem;
    border-radius: 10px;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--text-color_dark);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--secondary-color);
    text-align: center;
  }
  
  /* ---------------End of Products ---------------- */
  /* --------------- Cart ---------------- */
  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(34, 174, 201, 0.2);
    z-index: 60;
    visibility: hidden;
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(214, 242, 243);
    padding: 1.5rem;
    color: var(--text-color_dark);
    transition: var(--mainTransition);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
  .showCart {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 95px;
    height: 75px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: var(--secondary-color);
    cursor: pointer;
  }
  .banner-btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 0.8rem;
    background: var(--primary-color);
    color: var(--text-color_dark);
    border: 1px solid var(--primary-color);
    transition: var(--mainTransition);
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .banner-btn:hover {
    background: transparent;
    color: var(--secondary-color);
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--secondary-color);
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  /* --------------- End of Cart ---------------- */
  
.back-layer{
    background-image: linear-gradient(to bottom left,var(--primary-color), var(--secondary-color));
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}
.back-layer__circles--left{
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.back-layer__circles--right{
    width: 500px;
    height: 300px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    padding-top:50px

}
.back-layer__circle{
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    width: 600px;
    height:600px;
    background-image: linear-gradient(to bottom, var(--primary-color) , var(--secondary-color_dark)80%);
    opacity: 0.5;
    filter: blur(25px);
    border-radius:50%;
    -webkit-filter: blur(25px);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.back-layer__circle--left{
    position: relative;
    top: -100px;
    left: -100px;
    padding-bottom: 50px;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}
.back-layer__circle--right{
    position: relative;
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}
.glass-circle{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to bottom right,rgba(255,255,255, 0.9), rgba(255,255,255, 0.2)50%);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.glass-circle--left{
    position: absolute;
    left: 5%;
    bottom: 3%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.glass-circle--right{
    position: absolute;
    right: 5%;
    top: 3%;
}
.glass-layer{
    display:flex;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,rgba(255,255,255, 0.7), rgba(255,255,255,0.2)30%);
    backdrop-filter: blur(28px);
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    border-radius: 30px;
    width: 75%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/*Menu*/
.menu{
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(255,255,255, 0.7), rgba(255,255,255, 0.4)30%);
    object-fit: cover;
    padding: 5% 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__img--user{
    width: 70px;
    height: 70px;
    border-radius:50%;
    display: block;
    margin:auto;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.menu__header--user{
    margin: 7px 0px;
    color:var(--text-color_dark);
}
.menu__p{
    color:var(--text-color_light);
    font-weight:bold;    
}
.menu__platform{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 45px;
}
.menu__img--platform{
    width: 24px;
    height: 24px;
    opacity: 0.7;
    margin: 0px 10px;
}
.menu__intro{
    width: 180px;
    height: 120px;
    background-image: linear-gradient(to bottom left,var(--primary-color), var(--secondary-color)60%);
    margin: 0 auto;
    display: flex;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.menu__header--intro{
    width: 45%;
    padding:25px 10px;
    color: aliceblue;
    font-weight: bolder;
}
.menu__img--intro{
    width: 50%;
    height: auto;
}
/*Description*/
.description{
    width: 75%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Heading*/
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.e-shop__button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom right,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.1)40%);
    outline: none;
    border: none;
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    background-repeat: no-repeat;
    background-position: right;
    transition:transform .2s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition:transform .2s;
    -moz-transition:transform .2s;
    -ms-transition:transform .2s;
    -o-transition:transform .2s;
}
a.e-shop__button:hover{
    transform:scale(0.7);
    filter: drop-shadow(rgba(255,255,255,0.5) 1px 1px 1px);
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
    -ms-transform:scale(0.7);
    -o-transform:scale(0.7);
    -webkit-filter: drop-shadow(rgba(255,255,255,0.5) 1px 1px 1px);
}
.e-shop__img{
    filter:drop-shadow(var(--text-color_dark) 2px 2px 2px);
    -webkit-filter:drop-shadow(var(--text-color_dark) 2px 2px 2px);
}
.e-shop__img:hover{
    filter:drop-shadow(var(--text-color_light) 1px 1px 1px);
    -webkit-filter:drop-shadow(var(--text-color_light) 1px 1px 1px);
}
/*Search Bar*/
.search-bar__header{
    font-size:xx-large;
    color: var(--text-color_dark);
}
.search-bar__input{
    font-size: large;
    color: var(--text-color_dark);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom right,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.1)40%);
    outline: none;
    border: none;
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    background-image: url("../images/iconmonstr-magnifier-4-48.png");
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.search-bar__input::placeholder{
    color: var(--text-color_light);
    font-size: small;
}

/*List of items*/
.items__item{
    padding: 10px ;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255,255,255, 1));
    opacity: 0.9;
    margin: 10px 0px;
    filter:drop-shadow(var(--text-color_light) 3px 3px 3px);
    border-top: 5px solid rgba(255,255,255,0.4);
    border-left: 5px solid rgba(255,255,255,0.4);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-filter:drop-shadow(var(--text-color_light) 3px 3px 3px);
}
.product.items__item{    
    flex-direction:column;
    justify-content: space-between;
}
.items__img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.items__info{
    width: 55%;
}
.items__header--info{
    color: rgba(66, 45, 167, 0.9);
}
.items__subheader{
    margin: 7px 0px;
    color:var(--text-color_dark);    
}
.items__slider{
    background-image:linear-gradient(to bottom right, rgba(15, 124, 240, 0.8), rgba(38, 207, 128, 0.8));
    height: 20px;
    position: relative;
    overflow: hidden;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.items__background{
    background-image: linear-gradient(to bottom right,rgba(225,225,225,0.8), rgba(245,245,245,0.9));
    z-index: 2;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}
.items__background--slider80{
    transform:translateX(80%);
    -webkit-transform:translateX(80%);
    -moz-transform:translateX(80%);
    -ms-transform:translateX(80%);
    -o-transform:translateX(80%);
}
.items__background--slider50{
    transform:translateX(50%);
    -webkit-transform:translateX(50%);
    -moz-transform:translateX(50%);
    -ms-transform:translateX(50%);
    -o-transform:translateX(50%);
}
.items__background--slider90{
    transform:translateX(90%);
    -webkit-transform:translateX(90%);
    -moz-transform:translateX(90%);
    -ms-transform:translateX(90%);
    -o-transform:translateX(90%);
}
.items__input--slider{
    --webkit-appearance: none;
    appearance: none;
    width:100%;
    outline: none;
    background-color: transparent;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.items__input--slider:hover{
    opacity: 0.7;
}
.items__input--slider::-webkit-slider-thumb{
    --webkit-appearance:none;
    appearance: none;
    cursor: pointer;
}
.items__input--slider::-moz-range-thumb{
    appearance: none;
}
.items__progress{
    font-size:larger;
    padding: 30px;    
}
.items__header--progress{
    color:  rgba(112, 181, 255, 0.8);
}
/*Responsive*/
@media screen and (max-width: 1024px){
    .glass-layer{
        width: 80%;
    }
    .menu__image--user{
        width: 40px;
        height: 40px;
    }
    .menu__header--user{
        margin: 0px;
        font-size: smaller;
    }
    .menu__p{
        font-size: smaller;
    }
    .menu__platform{
        padding: 5px;
    }
    .menu__intro{
        width: 130px;
        height: 86px;
    }
    .menu__header--intro{
        padding:20px 10px;
        font-size:smaller;
    }
    .description{
        justify-content: space-around;
    }
    .e-shop{
        padding: 10px 0px;
    }
    a.e-shop__button{
        width: 70px;
        height: 70px; 
        padding: 5px;       
    }
    .e-shop__img{
        width: 90%;
        object-fit: contain;
        filter:drop-shadow(var(--text-color_dark) 2px 2px 2px);
        -webkit-filter:drop-shadow(var(--text-color_dark) 2px 2px 2px);
}
    .search-bar__header{
        font-size:large;
        margin: 5px 0px;
    }
    .search-bar__input{
        font-size:larger;
        padding: 7px 20px;
    }
    .items__item{
        padding: 10px;
    }
    .items__img{
        width: 40px;
        height: 40px;
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
}
    .items__header--info{
        font-size: smaller;
    }
    .items__subheader{
        font-size: smaller;
        margin: 0px;
    }
    .items__slider{
        height: 10px;
    }
    .items__progress{
        font-size:smaller;
        padding: 10px 5px;
    }
}
@media screen and (max-width: 650px){
 .logo{
     font-size:1rem;
 }   
 .glass-layer{
     flex-direction: column;
 }   
 .menu{
     flex-direction:row;
     width: 100%;
     padding: 10px;
 }
 .menu__intro{
     margin: 0;
 }
 .description{
     width: 100%;
 }
 a.e-shop__button{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.e-shop__img{
    width: 80%;
}
}
@media screen and (max-width: 568px){
.menu{
    height: 180px;
}
.menu__platforms{
    position: absolute;
    top: 98px;
    display: flex;
}
.menu__platform{
    padding: 10px;
    flex-direction: column;
}
.description{
    padding: 40px 15px 10px 10px;
}  

}